/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
    /*height: 70%;*/    
}

.article1{
    /*display:flex;*/
    text-align: justify;
    border-radius: 1%;
    /*flex-direction: column;*/
    /*align-content: space-around;*/
    /*flex-wrap:wrap ;*/
    margin-right: 20px;
    flex: 3;
    background-color:#F2F2F2;
    justify-content: flex-start;
    margin-left: 20px;  
    height:60%; 
}
.line1{
    display:flex;
    margin: 3px;
    padding: 10px;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 15px;
}
.photo_etoile{
margin:2px;
padding:2px;
margin-left: 12px;
font-size:small;
}
.line2{
    display:flex;
    margin:20px;
    justify-content: space-around;
    margin-top:1%;
}
.line3{
    display:flex;
    margin:20px;
    justify-content: space-around; 
    /*margin-top:-40px;*/ 
}
.line4{
    display:flex;
    margin:20px;
    /*margin-top:-200px*/   
}
.text_bas{
    margin-left:20px;
    margin-top: 20px;
    font-weight: bold;
   
}
.accomodation {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 180px;
    width: 30%;
    margin:6px;
    padding:1px;
    border-color: rgb(87, 84, 84);
    border-radius: 31px;
    background-color: white;
    font-style: bold;
}
.img_col{ 
    display:flex;
    flex-direction: column;
    /*background-image: url("auber_canne.jpg");*/
    width: 94%;
    height: 40%;
   border-radius: 31px;
    padding: 5px;
    margin:2px;
    /*margin-right: -1px;*/
    border: none;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-position: center;
    background-size: cover;  
}
.premier{
    background-image: url("auber_canne.jpg");
    
}
.deuxieme{
    background-image: url("hotel_port.jpg");   
}
.troisieme{
    background-image: url("hotel_mouet.jpg");     
}
.premier2rang{
    background-image: url("hotel_mer.jpg");     
} 

.deuxieme2rang{
    background-image: url("aubeg_panier.jpg");       
}
.troisieme2rang{
    background-image: url("hotel_amina.jpg");    
}
.hm img{
    height:30%;
}
.ha img{
    height:20%;
}
.contenair1{
    margin:2px;
    padding:2px;
    margin-left: 12px;
    font-weight: bold;   
}
.contenair1_text{
    font-size:small;
    color:gray;
    margin:2px;
    padding: 2px;
    margin-left: 12px;
}
.colmobil{
 margin-top:100px;   
}

@media screen and (max-width: 780px){
    .article1{
        display:flex;
        flex-direction:column;
        background-color:white;
        border:0; 
        margin-bottom:10px;   
    }
    .accomodation{
        flex:100%;
      margin-bottom:20px;
      width:130%;
      height:197px;
      margin-top:0px;
      border:solid #F2F2F2;
      box-shadow: 2px 2px 2px#F2F2F2;
    }
    .img_col{
        width:98%;
        height:110px;
        box-shadow:2px 2px 10px 3px #F2F2F2;
        padding:2px;
        border:solid;
        margin:2px;
        margin-top:2px;
        border-bottom-left-radius:31px;
        border-bottom-right-radius:31px;
        margin-bottom: 10px;
        margin-left:0px;
        border-color: #F2F2F2;
        border-radius: 31px;        
    }
    .premier{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
        
    }
    .deuxieme{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px; 
    }
    .troisieme{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;   
    }
    .premier2rang {
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;   
    }
    .deuxieme2rang {
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;   
    }
    .troisieme2rang{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;   
    }



    .line3{
        display:flex;
        flex-wrap:wrap;
        margin-top:-10px;

    }
    .line4{
        margin-top:-30px;
        font-weight:bold;
    }
    .contenair1{
        margin-top:7px;
    }
    .photo_etoile{
        margin-bottom:11px;
    }
    .text_bas {
        margin-left:14px;
        font-size: 1.2em;
      
    }
    .col1{
        display:flex;
       flex-direction:column;  
        /*margin-top:-10px;*/
      }
      .col{
        display:flex;
        flex-direction:column;   
    }
    .colmobil{
     margin-top:109px;   
    }
    .contenair1{
        width:180px;
        /*margin-top:-5px;*/
    }
    .line3{
        margin-top: -11px; 
     
    }
    .line2{
        display:flex;
        flex-wrap:wrap;
        /*flex-direction:column;
        width:400px;*/
    } 
    .line1{
        font-size: 1.4em;
        font-weight: bold;
        text-shadow: 0.5px 0.5px black;
    }
      
}
