.aside1{
    display: flex;
    flex-direction: column;
    flex: 1.2;
    align-content: space-around;
    position: relative;
    background-color:#F2F2F2;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
    /*height: 70%;*/
}

.popularity{
    display:flex;
    width: 94%;
    height: 123px;
    margin:6px;
    padding:1px;
    border-radius: 31px;
    background-color: white;
    font-style: bold;       
}

.popularity img{
   
    width: 40%;
    height: 91%;
    /*margin-top:1px;*/
    padding:5px;
    border:none;
    border-radius: 22px 0px 0px 22px; 
}

.line1_as{
    display:flex;
    justify-content: space-around;
    margin:20px;
}
/*.line2a{
    display:flex;


}*/
.line3_as{
    margin-top:20px;

}
.spc{
    margin-top:30px;
}

.title_aside{
    font-weight: bold;
}
.col1{
    display:flex;
    flex-direction: column;

}
@media screen and (max-width: 780px){
    .aside1{
        box-shadow: none;
        border-radius:none;
        padding: 15px;
        margin-bottom: 25px;
    }
    section{
        flex-direction: column-reverse;
    }
    
    .aside1{
        margin-bottom:3px;
        border:0;
        box-shadow: none;
    }
    .line1_as{
        margin-left:-70px;
        font-size: 1.4em;
        font-weight: bold;
        text-shadow: 0.5px 0.5px black;
    }
    .imgfleche{
        margin-left:0px;
    }
    
}

