.filters_bar{
    display:flex;
    /*justify-content: space-around;*/
    
  
}
.filters_text{
    margin-right:23px;
    padding: 10px;
}
.filters_economi{
    display: flex;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em; 
    margin-right: 23px;  
    border-style: solid;  
    border-color: #F2F2F2;   
}
.filters_economi button{
    display:flex;
    justify-content: center;
     align-items: center;
     padding: 0px;
     background-color: rgb(255 255 255);
     border: none;
     border-top-right-radius: 5em 5em;
     border-bottom-right-radius: 5em 5em;
     margin-right:23px;
     width: 111px;
     text-align: center;     
}
.filters_economi_icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    border-radius:31px;
    /*border:solid;*/
    border-color:#F2F2F2 ;
    padding: 14px;
    background-color: #DEEBFF; 
}
.filters_famili{
    display: flex;
    /*border-block-color: #F2F2F2;
    border-block-start-style: solid;
    border-block-end-style: solid;*/
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;   
    margin-right: 23px;
    border-style: solid;  
    border-color: #F2F2F2; 
}
.filters_famili_icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    border-radius:31px;
    /*border:solid;*/
    border-color:#F2F2F2 ;
    padding: 14px;
    background-color: #DEEBFF; 
}
.filters_famili button{
    display:flex;
    justify-content: center;
     align-items: center;
     padding: 0px;
     background-color: rgb(255 255 255);
     border: none;
     border-top-right-radius: 5em 5em;
     border-bottom-right-radius: 5em 5em;
     margin-right:23px;
     width: 111px;
     text-align: center;     
}

.filters_romantic{
    display: flex;
    /*border-block-color: #F2F2F2;
    border-block-start-style: solid;
    border-block-end-style: solid;*/
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em; 
    margin-right: 23px; 
    border-style: solid;  
    border-color: #F2F2F2;
}
.filters_romantic button{
    display:flex;
   justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: rgb(255 255 255);
    border: none;
    border-top-right-radius: 5em 5em;
    border-bottom-right-radius: 5em 5em;
    margin-right:23px;
    width: 111px;
    text-align: center;     
}
.filters_romantic_icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    border-radius:31px;
    border-color:#F2F2F2 ;
    padding: 14px;
    background-color: #DEEBFF; 
}
.filters_animau{
    display: flex;
    /*border-block-color: #F2F2F2;
    border-block-start-style: solid;
    border-block-end-style: solid;*/
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em; 
    margin-right: 23px;
    border-style: solid;  
    border-color: #F2F2F2;
}
.filters_animau button{
    display:flex;
   justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: rgb(255 255 255);
    border:none;
    border-top-right-radius: 5em 5em;
    border-bottom-right-radius: 5em 5em;
    margin-right:23px;
    width: 138px;
    text-align: center;     
}

.filters_animau_icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    border-radius:31px;
    /*border:solid;*/
    border-color:#F2F2F2 ;
    padding: 14px;
    background-color: #DEEBFF; 
}
@media screen and (max-width: 780px){
    .filters_bar{
        flex-wrap:wrap;
        margin-left: 60px;
        margin-right: 20px;
        
    }
    .filters_text{
        width: 62%;
    }
    .filters_economi{
        margin-bottom: 10px;
        width: 167px;
        /*margin-left:10px;*/
    }
    
    .filters_famili{
        margin-bottom: 10px;
        width: 141px; 
    }
    .filters_romantic{
        margin-bottom: 10px;
        width: 170px;  
    }
    .filters_animau{
        margin-bottom: 10px;
        width: 230px;   
    }
    .info_text{
        width:300px;
    }
    .info_icon{
        height: 12px;
        margin-left:21px;  
    }
}


