/* Footer */

.footer1
{
    display: flex;
    justify-content: flex-start;
    padding-top: 1px;
    background-color: #F2F2F2;
       
}
.footer_global{
    margin-top:10px;
}

footer h1
{
    font-size: 1em;

}


.footer_text{
    margin-right: 160px;
    padding: 5px;
}
.strfoo{
   margin:14px;
}
.fo{
    
    margin-left: 12px;
}
@media screen and (max-width: 780px){
    .footer1{
        flex-direction: column;

    } 
    .strfoo{
        margin-top:43px;
        font-size:medium;
        margin-left:-20px;
    }
    
    h1{
        display:flex;
        justify-content: flex-start;
        width:100%;
        margin-left:30px;
        margin-bottom: 2px;
    }
    .footer_text{
        margin-left:8px;
        padding: 1px;
        margin-top:-44px;
        margin-bottom:20px;
        text-shadow:1px 0px black;
        font-size:1.3em;
    }
    .contenair1_text{
        margin-top:2px;
    }
    .foo{
        margin-top:-20px;
    }

}






