.info_bar{
display:flex;
margin-left:64px;
}
.info_icon{
display:flex;
justify-content:center;
align-items: center;
width: 13px;
border-radius:31px;
border:solid;
border-color:#F2F2F2 ;
background-color: none; 
margin-right: 13px; 
padding:5px;
} 
.info_text{
    color:gray;
    padding: 5px;

} 
@media screen and (max-width: 780px){
    .info_bar{
        margin-left:40px;
    }
}



