/* Navigation */

nav{
    margin-left:58%;
}
nav ul
{
    list-style-type: none;
    display: flex;  
    margin:top; 
}


nav li
{
    margin-right: 55px;
    /*border-bottom:5px;
    border:solid;
    color:blue;*/   
}
ul li:nth-child(1){
    /*text-decoration-line: overline;
    text-decoration-thickness: 4px;
    text-decoration-color: #0065FC;
    text-decoration-style: solid;
    text-underline-offset: 1rem;*/
    
    


}
.souligne{
    border-top: 3px solid #0065FC;
    padding-top: 21px;
  
}
nav a
{
    font-size: 1em;
    color:#0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #cac6c6;
    border-bottom: 3px solid #756e6e;
}
.titre_nav{
    display:flex;
   
   /*align-content: flex-end*/

}
@media screen and (max-width: 780px){
    .bloc_page{
        width: auto;
    }

    .titre_principal{
        display:flex;
        flex-direction:column;
        /*justify-content: center;*/
        align-items: center;
        margin-right: 141px;
    }
    .souligne{
        border-top: 0px white;  
    }
    nav{
        margin-left:15%
    }
    nav li{
        margin-right:0px;
    }
    ul li:nth-child(1){
        border-bottom: 3px solid;
        color:#0065FC;
        margin-left:1px;
        text-align:center;
        width:200px;
        /*text-decoration:underline;
        width:
        text-underline-offset: 1rem;*/

    }
    ul li:nth-child(2){
        border-bottom: 3px solid;
        color:#F2F2F2;
        width:210px;
        text-align:center;
    }
    ul li:nth-child(3){
        margin-top:-76px;
        margin-left:-87px;
        font-weight: bold;
    }
    .logo img{
        display:flex;
        justify-content:flex-start;
        margin-right: 128px;
    }
}