.search_bar{
    display:flex; 
    margin-left:23px;    
}
.localisation{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2;
    width: 35px;
    /*border-radius: 5px;*/
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.search_bar input{
    height: 39px;
    border:solid #F2F2F2;
    padding-left:15px;
    font-weight: bold;
    font-size:1em;
}
.search_bar button{
    border: 2px solid #F2F2F2;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em ;
    color:white;
    background-color:#0065FC;
    width: 100px;
}
.search{
    display:none;
}


@media screen and (max-width: 780px){
    
    .search_bar button{
        display:none;
    }
    .search{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color:#0065FC;
        width: 35px;
        /*border-radius: 5px;*/
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    } 
    .search_bar{
        justify-content: center;
        align-items:center;
        margin-right:40px;
        
    } 
    .localisation{
        width:42px;
        height: 45px;
    }
    .search{
        height: 45px;
        width:47px;
        
    }
    .tas{
        color:white;
    }
    .search_bar input{
        font-weight: bold;
        font-size: 1.2em;
        margin-right:-10px;
        width:220px;
        border:solid 1px #F2F2F2;
        padding-left:10px;
        
        
    }
}


