/* Définition des polices personnalisées */
/* Eléments principaux de la page */
body
{
    
    font-family: 'Raleway', sans-serif;
    color: #181818;

}
.white{
    color:#0065FC;
}
.color{
    color:#0065FC;
}

#bloc_page
{
    width: 95%;
    margin: auto;
}
section h1, footer h1, nav 
{
    
    font-weight: normal;
    text-transform: capitalize;
}
 


#titre_principal
{
    display: flex;
    flex-direction: column;

}



    
#logo
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
} 
#logo img
{
    /*width: 70px;*/
    height: 39px;
}

header h1
{
     
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 0 0px;
    
}
header h2
{
     
    font-size: 1em;
    margin-top: 0px;
    font-weight: normal;
    color:gray;
    
}
/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;   
}

nav li
{
    margin-right: 75px;   
}
nav a
{
    font-size: 1em;
    color:#0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #cac6c6;
    border-bottom: 3px solid #756e6e;
}
strong{
    color: black;
}
#titre_nav{
    display:flex;
   
   /*align-content: flex-end*/

}
.size{
    size:small;
}





p#hebm{
    font-weight:bold;
    
    margin-left: 20px;
    margin-top:-51px;
    width:22px;
    
}
h4{
    color:black;
    /*text-shadow: black;*/
}
p{
    margin:5px;
    font-size: small;
    color:gray;
    margin-top:-16px
}





/* Footer */



footer h1
{
    font-size: 1em;

}






