

.blocA{
    display:flex;    
}
.blocB{
    display:flex; 
    margin-left:7%;  
}
.partie1{
    width:236px;
    height:87%;
    margin-right: 1px;
    margin-bottom: 0px;
    border-radius: 31px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    box-shadow: #F2F2F2 1px 2px 2px 1px;
}

.partie2{
    height:90%;
    width: 250px;
    margin-right:7px;
    margin-bottom:10px;
    border-radius: 31px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    box-shadow: #F2F2F2 2px 2px 2px 2px;   
}

.activit_center1{
    margin-left: 31px;
    margin-right: 75px;
    width: 22%;
    height: 56%;
}
.activit_center2{
    margin-left:31px;
    margin-right:54px;
    width:21%;
    height: 71%;   
}
.titractivi{
  font-size:1.2em;
  font-weight: bold;  
}

.line1a{
    display:flex;
    margin: 13px;
    padding: 20px;
    margin-top: 2%;
    margin-left: 15px;
    margin-bottom:18px;
    
}
.line2a{
    display:flex;
    flex-direction:row;
    flex:100%;
    /*width:100%;
    justify-content: space-between;*/
}

.activity{
    display:flex;
    flex-direction:column;
    /*margin-left: 20px;*/
    background-color:white;
    margin-bottom: 30px;
    padding:30px;
}
.activit_left {
    background-position: center;
    background-size: cover; 
    width: 96.4%;
    height: 87%;
   border-radius: 31px;
    padding: 5px;
    margin-right: -1px;
    border: none;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-top: -1px;
    margin-left: -1px;  
}
.un{
    background-image: url(../images/vieuxport.jpg);
}
.deux{
    background-image: url(../images/parcnational.jpg);
    
}

.ntd{
    /*width: 163%;*/
}


.activit_text{
    font-weight: bold;
    margin-left:20px;
}
.actilef{
    margin-top:11px;   
}
.center{
    background-position: center;
    background-size: cover; 
    /*border:solid black;*/
    height: 140px;
    justify-content: space-between;
    width: 101%;
    display:flex;
    border-radius: 31px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
}
.milieu{
    width: 240%;
    height: 195px;
    border: solid rgb(242 242 242);
    margin-bottom: 55px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    box-shadow: #F2F2F2 2px 2px 2px 2px;
    margin-right: 66px;
    margin-left: 20px; 
}

.one{
    background-image:url(../images/fortpomeg.jpg);
    margin-bottom:20px;
}
.two{
    background-image:url(../images/ilesfriol.jpg);
    margin-bottom:20px;  
}
.acc{
    background-image:url(../images/notredame.jpg);
    margin-bottom:20px;
   
}
.acd{
    background-image:url(../images/parclongcha.jpg);
    margin-bottom:20px; 
}

/*@media screen and ( max-width: 1371px) and (min-width:1027px){
    .line2a{
        display:flex;
        flex-direction:column;
    }

}*/


@media screen and (max-width: 1300px){
    .activity{
        padding:60px;
        margin:0;
    }
    .titractivi{
        font-size:1.4em;
        /*margin-left: -32px;*/
        /*margin-left:40px;*/
        font-weight: bold;
    }
    .line2a{
        display:flex;
        flex-direction:column;
        justify-content: center;
    } 
    .line1a{
        margin-left:0px;
        /*font-size: 1.4em;*/
        margin-top:-45px;
    }
    .blocA{
        flex-direction: column;
        /*width:100%;*/
        justify-content: center;
        /*margin-left:6%;*/   
    } 
    .blocB{
        flex-direction: column;
        /*width:100%;*/
        justify-content: center; 
        margin:0;
        margin-bottom:20px;
    }
    .partie1{
        width: 95%;
        /*margin-left: 7px;*/
        height:197px;
        margin-bottom:21px;
    }
    .partie2{
        /*Width:84%;*/
        height:197px;
        /*margin-left:-3px;*/
        margin-bottom:-15px;
        Width: 95%;
        /*margin-left: -29px;*/
        /*margin-right: 25px;*/
        
    }
    .activit_left{
        width:98%;
        height: 121px;
        margin: 3px;

    }
    .milieu{
       
        width: 411%;
        margin-left: -29px;
        margin-right: 5px;
        height:190px;
        margin-bottom:20px;
        border-top-left-radius: 36px;
        border-top-right-radius: 36px;
        box-shadow: #F2F2F2 1px 0px 0px 1px;
        /*margin-left:-4px;*/

    }
    .a{
        /*margin-left: -45px;*/
        margin-top:38px;
        margin-left:0;
        width:394%;
    }
    .activit_center{
        display:flex;
        flex:50%;  
    }
    .activit_center2{
        width:24%;
        margin-left:8px;
    }
    .center{
        height: 131px;
        width: 100%;
    }
    .acc{
        margin:0;
    }
    .activit_text{
        margin-top:25px;
    }
    .actilef{
        margin-top:27px;   
    }
    .line2a{
        margin-bottom:-53px;
    }   
}
@media screen and (max-width: 768px){
    .line1a{
        margin-top:-102px;
    }
    .contenair1{
        font-size:1em;
    }
    .pop{
        width:100px;
    }
    .col1{
        margin:10px;
    }
}
@media screen and (max-width: 440px){
    .activit_left{
        width:92%;
    }
    .col1{
        padding:0;
        width:73%;
    }
    .contenair1{
        font-size:0.8em;
    }
    .pop{
        width:80px;
    }
    .popularity{
        width: 120%;
        height: 166px;
    }
    .line1a{
        width:90%;
        font-size: 0.9em;
    }
    
}
@media screen and (max-width: 250px){
    .partie1{
        width:115%;
    }
    .partie2{
        width:115%;
        height:205px;
    }
    .milieu{
        width:490%;
        height: 198px;
    }
    .a{
        width:460%;
    }
    .col1{
        width:62%;
    }
    .col1{
        margin:0px;
    }
}



