/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
    /*height: 70%;*/    
}
section{
    display:flex;
    flex-direction:column;
}
.hebright{
    /*background-color: #F2F2F2;*/
    padding: 36px;
    width: 59.3%;
    height: 1px;
    margin:0;
    /*border-radius: 31px 31px 0px 0px;*/
    /*margin-left: 20px;*/
    font-size: 1.2em;
    font-weight: bold;
}
.articaside{
    display:flex;
    flex-direction:row; 
}
.article1{
    display: flex;
    flex-direction: column;
    text-align: justify;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-right-radius: 31px;
    border-bottom-left-radius: 31px;
    flex: 3;
    background-color: rgb(242, 242, 242);
    margin-left: 20px;
    height: 60%; 
}
#line1{
    display:flex;
    margin: 3px;
    padding: 10px;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 36px;
    /*text-shadow: 0.5px 0.5px black;*/
}
.photo_etoile{
margin:2px;
padding:2px;
margin-left: 12px;
font-size:10px;
}
.line2{
    display:flex;
    margin:20px;
    justify-content: space-around;
    margin-top:1%;
}
.line3{
    display:flex;
    margin:20px;
    justify-content: space-around; 
    /*margin-top:-40px;*/ 
}
.line4{
    display:flex;
    margin:20px;
    /*margin-top:-200px*/   
}
.text_bas{
    margin-left:20px;
    padding-bottom:14px;
    font-weight: bold;
   
}
.accomodation {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 216px;
    width: 30%;
    margin:6px;
    padding:1px;
    border-color: rgb(87, 84, 84);
    border-radius: 31px;
    background-color: white;
    font-weight:bold;
}
.accomodation a{
    text-decoration:none;
    color:black;
}
.accomodation:hover{
    text-decoration: none;
    background-color:#DEEBFF;
    padding:10px;
    border-radius: 20px;
}

.img_col{ 
    display:flex;
    flex-direction: column;
     width: 94%;
    height: 57%;
    border-radius: 31px;
    padding: 5px;
    margin:2px;
    border: none;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-position: center;
    background-size: cover;  
}
.premier{
    background-image: url(../images/auber_canne.jpg);
    
}
.deuxieme{
    background-image: url(../images/hotel_port.jpg);   
}
.troisieme{
    background-image: url(../images/hotel_mouet.jpg);     
}
.premier2rang{
    background-image: url(../images/hotel_mer.jpg);     
} 
.deuxieme2rang{
    background-image: url(../images/aubeg_panier.jpg);       
}
.troisieme2rang{
    background-image: url(../images/hotel_amina.jpg);    
}
.hm img{
    height:30%;
}
.ha img{
    height:20%;
}
.contenair1{
    margin:2px;
    padding:6px;
    margin-left: 12px;  
}
.contenair1_text{
    font-size:0.8em;
    color:rgb(63, 62, 62);
    margin:2px;
    padding:2px;
    margin-left: 16px;
}
.colmobil{
 margin-top:131px;   
}

@media screen and (max-width: 1024px){
    .hebasid{
        display:flex;
        flex-direction:column-reverse;
    }
    .hebright{
        display:block;
        margin-left:-14px;  
    }
    .article1{
        display:flex;
        flex-direction:column;
        background-color:white;
        border:0; 
        /*margin-bottom:10px;*/ 
        /*width:101%;*/ 
        padding:30px; 
        margin:0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .accomodation{
        flex:100%;
        margin-bottom:20px;
        width: 99%;
        height: 207px;
        /*margin-right: 14px;*/
       /* margin-left: -31px;*/
        margin-top:0px;
        border:solid #F2F2F2;
        box-shadow: 2px 2px 2px#F2F2F2;
    }
    .img_col{
        width:98%;
        height:110px;
        box-shadow:2px 2px 10px 3px #F2F2F2;
        padding:2px;
        border:solid;
        margin:2px;
        margin-top:2px;
        border-bottom-left-radius:31px;
        border-bottom-right-radius:31px;
        margin-bottom: 10px;
        margin-left:0px;
        border-color: #F2F2F2;
        border-radius: 31px;        
    }
    .premier{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;   
    }
    .deuxieme{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px; 
    }
    .troisieme{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;   
    }
    .premier2rang {
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;   
    }
    .deuxieme2rang {
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;   
    }
    .troisieme2rang{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;   
    }
    .line3{
        display:flex;
        flex-wrap:wrap;
        margin-top:-10px;
    }
    .line4{
        font-weight:bold;
       margin:0;
       padding:10px;
    }
    .contenair1{
        margin-top:7px;
        width:180px;
    }
    .photo_etoile{
        margin-bottom:11px;
    }
    .text_bas {
        margin-left:14px;
        font-size: 1.2em;
        font-weight: bold;
      
    }
    .col1{
        display:flex;
       flex-direction:column;  
      }
    .col{
        display:flex;
        flex-direction:column;   
    }
    .colmobil{
     margin-top:109px;   
    }
    
    .aubca{
        width:220px;
        
    }
    .line3{
        margin:0;
     
    }
    .line2{
        display:flex;
        flex-wrap:wrap;
        margin:0;
        margin-bottom: 20px;
    } 
    #line1{
        padding: 10px;
        margin: 9px;
        margin-top: 6%;
        margin-left: -16px;
        font-size: 1.4em;
    }     
}

@media screen and (max-width: 760px){
    .article1{
        padding:60px;
    }
    .line1{
        margin-top:-60px;
    }
    .hebright{
        margin-bottom: 15px;
        width:95%;
    } 
}
@media screen and (max-width: 414px){
    .accomodation{
        height: 213px;
        width:120%
    }
    .line1{
        width:90%;
        font-size: 1em;
    }
}


