.aside1{
    display: flex;
    flex:1.2;
    flex-direction: column;
    background-color: rgb(242 242 242);
    border-bottom-left-radius: 31px; 
    border-bottom-right-radius: 31px; 
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    color: rgb(0 0 0);
    font-size: 0.9em;
    margin-left: 15px;
    height: 610px;
    padding:30px;
}
.popularity{
    display:flex;
    width: 98%;
    height: 137px;
    margin:12px;
    margin-left:1px;
    margin-right:1px;
    padding:1px;
    border-radius: 31px;
    background-color: white;
    font-weight: bold;       
}
.popularity img{
   
    width: 40%;
    height: 94%;
    padding:5px;
    border:none;
    border-radius: 22px 0px 0px 22px; 
}
.line1_as{
    display:flex;
    position:relative;
    flex-direction:column;
    margin:20px;
    margin-right:20px;
    /*text-shadow: 0.5px 0.5px black;*/
}
.titrpopy{
    display:flex;
    justify-content: space-between;
}
.lespluspopu{
    font-size: 1.2em;
    font-weight: bold;
}
.line3_as{
    margin-top:20px;
}
.spc{
    margin-top:30px;
}

.col1{
    display:flex;
    flex-direction: column;
    margin-top:15px;
}
.pop{
    font-size:1em;
}
.petit{
    font-size:0.8em; 
    color:rgb(63, 62, 62);
}
@media screen and (max-width: 1024px){
    .articaside{
        flex-direction: column-reverse;
    }
    .aside1{
        margin-bottom:3px;
        box-shadow: none;
        /*width: 100%;*/
        margin-left: -10px;
        border-radius:0px 0px 0px 0px;
    }
    section{
        flex-direction: column-reverse;
    }
    .aside1{
        margin-bottom:3px;
        box-shadow: none;
    }
    .line1_as{
        margin-left:2px;
        font-size: 1.4em;
        font-weight: bold;
        text-shadow: 0.5px 0.5px black;
    }
    .imgfleche{
        margin-left:170px;  
    }
    .popularity{
        width: 94%;
        height: 155px;
    }
    .popularity img{
        height: 96%;
    }
    
    .col1{
        margin:15px;
    }
    .contenair1{
        font-weight: bold;
        font-size:1.2em;
    }   
}
@media screen and (max-width: 768px){
    .aside1{
        padding:60px;
    }
    .lespluspopu{
        font-size:1em;
    }
}
@media screen and (max-width: 414px){
    .contenair1{
        width:110px;
    }
    .col1{
        margin:3px;
    }
    .popularity{
        width:98%;
        height: 166px;
    }
    .spc{
        margin-top:22px;
    }
    /*.titrpopy{
        display:flex;
        flex-direction:row;
    }*/
    .imgfleche {
        margin-left: 99px;
    }

}




