.filters_bar{
    display:flex;
    /*margin-left:23px;*/
    margin-left:23px;
    margin-bottom:30px;

    
  
}
.filters_text{
    margin-right:13px;
    padding: 10px;
}
.filters_economi{
    display: flex;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em; 
    margin-right: 23px;  
    border-style: solid;  
    border-color: #F2F2F2;   
}

.filters_economi:hover{
    background:yellow;

}
.filters_economi button{
    display:flex;
    justify-content: center;
     align-items: center;
     padding: 0px;
     background-color: rgb(255 255 255);
     border: none;
     border-top-right-radius: 5em 5em;
     border-bottom-right-radius: 5em 5em;
     margin-right:3px;
     width: 111px;
     text-align: center; 
    
}
.filters_economi button:hover{
    background:yellow;  
}



.filters_economi_icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    border-radius:31px;
    /*border:solid;*/
    border-color:#F2F2F2 ;
    padding: 14px;
    background-color: #DEEBFF; 
}
.filters_famili{
    display: flex;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;   
    margin-right: 23px;
    border-style: solid;  
    border-color: #F2F2F2; 
}
.filters_famili:hover{
    background:#0065FC;
}
.filters_famili_icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    border-radius:31px;
    /*border:solid;*/
    border-color:#F2F2F2 ;
    padding: 14px;
    background-color: #DEEBFF; 
}
.filters_famili button{
    display:flex;
    justify-content: center;
     align-items: center;
     padding: 0px;
     background-color: rgb(255 255 255);
     border: none;
     border-top-right-radius: 5em 5em;
     border-bottom-right-radius: 5em 5em;
     margin-right:3px;
     width: 91px;
     text-align: center;     
}
.filters_famili button:hover{
    background:#0065FC;
}


.filters_romantic{
    display: flex;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em; 
    margin-right: 23px; 
    border-style: solid;  
    border-color: #F2F2F2;
}
.filters_romantic:hover{
    background:pink;
}

.filters_romantic button{
    display:flex;
   justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: rgb(255 255 255);
    border: none;
    border-top-right-radius: 5em 5em;
    border-bottom-right-radius: 5em 5em;
    margin-right:3px;
    width: 111px;
    text-align: center;     
}
.filters_romantic button:hover{
    background:pink;
}
.filters_romantic_icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    border-radius:31px;
    border-color:#F2F2F2 ;
    padding: 14px;
    background-color: #DEEBFF; 
}
.filters_animau{
    display: flex;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em; 
    margin-right: 23px;
    border-style: solid;  
    border-color: #F2F2F2;
}
.filters_animau:hover{
    background:rgb(133, 247, 133);
}
.filters_animau button:hover{
    background:rgb(133, 247, 133);
}



.filters_animau button{
    display:flex;
   justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: rgb(255 255 255);
    border:none;
    border-top-right-radius: 5em 5em;
    border-bottom-right-radius: 5em 5em;
    margin-right:3px;
    width: 138px;
    text-align: center;     
}

.filters_animau_icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    border-radius:31px;
    /*border:solid;*/
    border-color:#F2F2F2 ;
    padding: 14px;
    background-color: #DEEBFF; 
}

@media screen and (max-width: 1024px){
    .filters_bar{
        display:flex;
        flex-wrap:wrap;
        margin-left: 23px;  
    }
    .filters_text{
        width: 62%;
        margin-right:120px;
        font-size:1.2em;
        margin-bottom:10px;
    }
    .filters_economi{
        margin-bottom: 10px;
        width: 167px;
        margin-right:13px;
        
    }
    .filters_economi button{
        font-weight:bold ;
        font-size:1em;
        margin-left:8px;
    }
    .filters_famili{
        margin-bottom: 10px;
        width: 162px; 
    }
    .filters_famili button{
        font-weight:bold ;
        font-size:1em;
    }
    .filters_romantic{
        margin-bottom: 10px;
        width: 170px; 
        margin-right:172px; 
    }
    .filters_romantic button{
        font-weight:bold ;
        font-size:1em;
        margin-left:8px;
    }
    .filters_animau button{
        font-weight:bold ;
        font-size:1em;
        margin-left:8px;
        width:170px;

    }
    .filters_animau{
        margin-bottom: 10px;
        width: 230px;
        margin-right:115px; 

    }
    .info_text{
        width:300px;
    }
    .info_icon{
        height: 12px;
        margin-left:21px;  
    }
    
}



