/* Footer */

.footer1
{
    display: flex;
    justify-content: flex-start;
    padding-top: 1px;
    background-color: #F2F2F2;
    padding-bottom:33px;
       
}
.footer_global{
    margin-top:10px;
}

footer h2
{
    margin-top:15px;
    font-size: 1em;
    margin-left:0px;

}


.footer_text{
    margin-right: 160px;
    padding: 5px;
}
.strfoo{
   margin:14px;
}
.fo{
    
    margin-left: 12px;
}
@media screen and (max-width:1024px){
    /*.footer_global{
        width:120%;
        height:120%;
        /*margin-bottom: -9px;*/
        /*margin-left: -14px;
        margin-right: -7px;
    }*/
    .footer1{
        flex-direction: column;
        width:100%;
        padding:60px;

    } 
    .strfoo{
        margin-top:43px;
        font-size:medium;
        margin-left:14px;
    }
    
    h1{
        display:flex;
        justify-content: flex-start;
        width:70%;
        margin-left:39px;
        margin-bottom: 2px;
    }
    .footer_text{
        margin-left:8px;
        padding: 1px;
        margin-top:-44px;
        margin-bottom:20px;
        text-shadow:1px 0px black;
        font-size:1.3em;
    }
    .contenair1_text{
        margin-top:2px;
    }
    .foo{
        margin-top:-20px;
    }
    footer h2{
    margin-top:52px;
    }

}







