.titre_principal
{
    display: flex;
}    
.logo
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
} 
.logo img
{
    
    height: 39px;
    margin-left:23px;
}
.title_bar{
    display:flex;
    flex-direction:column;
}
h1{
    font-size: 1.1em;
    margin-left:23px;
    margin-top:5px;  
}
h3{
    font-size: 0.9em;
    margin-left:21px;  
    font-weight: normal;
    color:rgb(0 0 0);
    margin-bottom:75px;
    padding: 5px;
    margin-top:0px;
  
}
.articl h2
{
     
    font-size: 1em;
    margin-left:23px;
    margin-top: 49px;
    font-weight: normal;
    color:black;
    /*text-shadow:rgb(0 0 0);*/
    
}
.articl{
    display:flex;
    flex-direction:column;
    margin-top:-60px;
}


@media screen and ( max-width: 1024px){
    h1{
        width: 318px;
        display:flex;
        justify-content: center;
        align-items:center;
        font-size:1.4em;
        margin-left: 10px;
        padding: 20px;
    }
    .articl h2{
        color:black;
        margin-left:5px;
        padding:20px;
        margin-bottom:20px;

    }
    h3{
        margin-bottom:5px;
        margin-top:-10px;
        /*margin-left: 55px;*/
    }

    .logo img{
        margin-left:63px;
        margin-bottom:12px;
    }
    
}
@media screen and (max-width:780px){
    .lestitres{
        justify-content: center;
        align-items: center;
        display:flex;
        flex-direction: column;
    }
}

@media screen and (max-width:355px){
    .lestitres{
        width:215px;
    }
    h1{
        font-size:1em;
        width:99%;
    }
    h3{
        width:70%;
        justify-content:center;
        align-items: center;
    }
}