.info_bar{
display:flex;
margin-left:5px;
margin-top: 5px;
padding: 20px;
}
.info_icon{
display:flex;
justify-content:center;
align-items: center;
width: 8px;
height: 8px;
border-radius:31px;
border:solid;
border-color:#F2F2F2 ;
margin-right: 13px; 
padding:8px;
} 
.info_text{
    font-size: 0.9em;
    color:black;
    font-weight: normal;
    padding: 5px;

} 
@media screen and (max-width: 1024px){
    .info_bar{
        /*margin-left: 58px;*/
        margin-top: 22px;
    }
}
@media screen and (max-width: 768px){
    .info_bar{
        margin-top:-29px;
    }
}




