/* Navigation */
#titre_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: flex-end;
   }
/*h1{
    padding-left: 50px;
}*/
ul{
    display: flex;
}
#titre_principal nav ul li{
    list-style-type: none;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: black;
}
#menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li a:hover{
    color: #0065FC;
}
li{
    border-top: 3px solid #fff;
}
li:hover
{
    border-top: 3px solid #0065FC;
}
li:focus
{
    border-top: 3px solid #0065FC;
}
.sinscrire{
    display: flex;
    align-items: center;
}
.sinscrire a{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.sinscrire a:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
@media screen and (max-width:768px){

    body{
        width: 100%;
        padding-top: 15px;
        overflow-x: hidden;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
    }  
    .logo {
    display: flex;
    align-items: flex-end;
    } 
    .logo img{
        margin-bottom:68px;  
    }
     #titre_principal{
        width: 100%;
        display:flex;
        justify-content: column;
        padding:0;
        margin-left:-40px;
    }
    nav ul{
        padding: 0;
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
       
     }
     nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
     }
    li{
        text-align: center;
        flex-basis: 50%;
        font-weight: bold;
    }
    .coli{
        color:blue;
    }
    li:hover{
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }
    li:focus{
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    .sinscrire{
       order: -1;
       display: flex;
       padding-top: 10px;
    }
    #menu{
       display: flex;
       justify-content: flex-end;
       flex-flow: row wrap;
       margin-left:-103px;
   }


