/* Navigation */

nav{
    margin-left:auto;
    display:flex;
}
nav ul
{
    list-style-type: none;
    display: flex;  
    /*margin:top;*/ 
}


nav li
{
    margin-right: 55px;
    list-style-type: none;

}
nav li a{
    margin-top:5px;
}

.souligne{
    border-top: 3px solid #0065FC;
    padding-top: 21px;
  
}
nav a
{
    font-size: 1em;
    color:#0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #cac6c6;
    border-bottom: 3px solid #756e6e;
}
.titre_nav{
    display:flex;
   
   

}

@media screen and (max-width:1024px){
    .bloc_page{
        width: auto;
    }

    .titre_principal{
        display:flex;
        flex-direction:column;
        /*justify-content: center;*/
        align-items: center;
        margin-right: 141px;
    }
    .souligne{
        border-top: 0px white;  
    }
    .linegris{
        border-bottom: black 3px;
        width:100px;
        padding:10px;
    }
    nav li{
        margin-right:0px;
    }
    ul li:nth-child(1){
        border-bottom: 3px solid;
        color:#0065FC;
        margin-left:88px;
        text-align:center;
        width:200px;
        padding:10px;

    }
    ul li:nth-child(2){
        border-bottom: 3px solid;
        color:#F2F2F2;
        width:220px;
        text-align:center;
        padding:11px;
    }
    ul li:nth-child(3){
        margin-top: -55px;
        /*margin-left: -150px;;*/
        font-weight: bold;
        /*margin-right:50px;*/
    }
    .logo img{
        margin-right: 181px;
        margin-top:2px;
    }
} 

@media screen and (max-width:683px){
        nav{
            margin-left:18%;
        }
        ul li:nth-child(3){
            margin-left: -66px;;
            /*margin-right:86px;*/
            width:41%;
        }
        ul li:nth-child(2){
            width:167px;
        }
        ul li:nth-child(1){
            width:159px;
        }
        .logo img{
           /*margin-left:109px;*/
            padding-left:30px;
        }


}
@media screen and (max-width:355px){
    .logo img{
        margin-left:131px;
        width:70px;
    }
    ul li:nth-child(1){
        width: 77px;
        font-size: 0.9em;
        font-weight: bold;
    }
    ul li:nth-child(2){
        font-size: 0.9em;
        font-weight: bold;
        width:123px;
    }
    ul li:nth-child(3){
        font-size: 0.9em;
        font-weight: bold;
    }


}