/* Navigation */

nav{
    margin-left:58%;
}
nav ul
{
    list-style-type: none;
    display: flex;  
    /*margin:top;*/ 
}


nav li
{
    margin-right: 55px;
 
}
ul li:nth-child(1){
    
    
    


}
.souligne{
    border-top: 3px solid #0065FC;
    padding-top: 21px;
  
}
nav a
{
    font-size: 1em;
    color:#0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #cac6c6;
    border-bottom: 3px solid #756e6e;
}
.titre_nav{
    display:flex;
   
   

}

@media screen and (max-width:1024px){
    .bloc_page{
        width: auto;
    }

    .titre_principal{
        display:flex;
        flex-direction:column;
        /*justify-content: center;*/
        align-items: center;
        margin-right: 141px;
    }
    .souligne{
        border-top: 0px white;  
    }
    nav{
        margin-left:15%
    }
    nav li{
        margin-right:0px;
    }
    ul li:nth-child(1){
        border-bottom: 3px solid;
        color:#0065FC;
        margin-left:91px;
        text-align:center;
        width:200px;
        padding:10px;

    }
    ul li:nth-child(2){
        border-bottom: 3px solid;
        color:#F2F2F2;
        width:220px;
        text-align:center;
        padding:10px;
    }
    ul li:nth-child(3){
        margin-top: -55px;
        margin-left: -150px;;
        font-weight: bold;
        margin-right:50px;
    }
    .logo img{
        display:flex;
        justify-content:flex-start;
        margin-right: 128px;
        margin-top:2px;
    }
} 
/*@media screen and (min-width: 990px){
        nav{
            margin-left:58%
        }

    }
@media screen and (max-width: 992px){
        nav{
            margin-left:58%
        }
}*/