.search_bar{
    display:flex; 
    margin-left:23px;
    margin-bottom:30px;

}
.localisation{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2;
    width: 35px;
    /*border-radius: 5px;*/
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.search_bar input{
    height: 39px;
    width:166px;
    border:2px solid #F2F2F2;
    padding-left:15px;
    font-weight: bold;
    font-size:1em;
}
.search_bar button{
    border: 2px solid #F2F2F2;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em ;
    color:white;
    background-color:#0065FC;
    width: 100px;
}
.search{
    display:none;
}


@media screen and (max-width: 1024px){
    
    .search_bar button{
        display:none;
    }
    .search{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color:#0065FC;
        width: 60px;
        height:60px;
        /*border-radius: 5px;*/
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    } 
    .search_bar{
        justify-content: center;
        align-items:center;
        margin-top:84px;
        margin-right:40px;
        
        
        
    } 
    .localisation{
        width:62px;
        height: 62px;
    }
    
    .tas{
        color:white;
    }
    .search_bar input{
        font-weight: bold;
        font-size: 1.2em;
        margin-right:-10px;
        width:235px;
        border:solid 1px #F2F2F2;
        padding-left:17px;
        height:56px;   
    }
}
@media screen and (max-width: 419px){
    .search{
    width: 160px;
    height:160px;
    }
    .search_bar input{
        width:235px;
        height:56px;
    }
}


