
/* Définition des polices personnalisées */
/* Eléments principaux de la page */
body
{
    font-family: 'Raleway', sans-serif;
    color: #181818;
    /*margin:0;*/
    overflow-x:hidden;
}

.white{
    color:#0065FC;
}
.gry{
    color: gray;
}
.color{
    color:#0065FC;
}
.bloc_page
{
    width: 95%;
    display:flex;
    flex-direction:column;
    

}
section h1, footer h1, nav 
{
    
    font-weight: normal;
}


strong{
    color: black;
}

.size{
    font-size:small;
}
@media screen and (max-width: 1024px){
    body{
        margin:0;
    }
}














    






