
/* Définition des polices personnalisées */
/* Eléments principaux de la page */
body
{
    
    font-family: 'Raleway', sans-serif;
    color: #181818;

}
section{
    display:flex;
}
.white{
    color:#0065FC;
}
.gry{
    color: gray;
}
.color{
    color:#0065FC;
}
.bloc_page
{
    width: 95%;
    /*margin: auto;*/
}
section h1, footer h1, nav 
{
    
    font-weight: normal;
    /*text-transform: capitalize;*/
}


strong{
    color: black;
}

.size{
    font-size:small;
}














    






